body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    background-color: #313131;
    color: #f7ffb0;
}

#wrapper {
}

.material-icons {
    font-family: "Material Icons";
}

h1 {
    text-align: center;
    margin: 0;
    padding: 30px;
    font-weight: 500;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

#selections-container {
    display: flex;
    justify-content: space-around;
}

#player-selection-container,
#computer-selection-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}

.span-selection {
    padding: 10px;
    margin-top: 10px;
    border: none;
    color: #fff;
    background-color: #8a00b8;
    border-radius: 10px;
}

.computer-selection {
    background-color: #767676;
}

.player-selection {
    cursor: pointer;
}

.player-selection:hover {
    background-color: #fcaa2e;
}

.active {
    background-color: #2ea3fc;
}

.score {
    margin-top: 40px;
    width: 20px;
    height: 20px;
    padding: 20px;
    border: 2px solid #fcaa2e;
    border-radius: 10px;
    color: #fcaa2e;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}
